snippet component
	var ${1:componentName} = React.createClass({
		render: function() {
			return (
				${0}
			)
		}
	});
snippet .
	className="${1}"
snippet route
	<Route path='${1}' component={${2:Component}} />
snippet tag
	<${1:Component}
		${0}
	/>
