# Remove this snippet, it clashes with other languages
# and it's not really used in HTML
snippet!!! for

snippet css
	<link rel="stylesheet" type="text/css" href="${1:url}"></link>

snippet js
	<script src="${1:url}"></script>
