snippet if
	if( ${1:condition} then
		${0}
	)
snippet ife
	if( ${1:condition} then
		${2:do_true}
	else
		${3:do_false}
	)
snippet foreach
	foreach( ${1:item} ${2:list}
		${0}
	)
snippet when
	when( ${1:condition}
		${0}
	)
snippet unless
	unless( ${1:condition}
		${0}
	)
